# Setup

In [46]:
import pandas as pd
GDP_data = pd.read_csv('sample_data/US_GDP.csv')

Display the head of the data

In [47]:
GDP_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

Inspect the object types

In [48]:
GDP_data.dtypes

date     object
GDP     float64
dtype: object

Convert the date columlns to an actual timestamp

In [49]:
GDP_data['date'] = pd.to_datetime(GDP_data['date'])
GDP_data.dtypes

date    datetime64[ns]
GDP            float64
dtype: object

Change the index to the date

In [50]:
GDP_data.set_index('date', inplace=True, drop=True)
GDP_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

Save to CSV

In [53]:
GDP_data.to_csv('sample_data/US_GDP_date_index.csv')